<!DOCTYPE html>
<html>	

<!--BACKGROUND IMAGE-->
<style>
body {
    background: url("static/landing.jpg");
    background-size: 1000px 1000px
    background-repeat: no-repeat;
    padding-top: 10px;
}
#serial{
    height: 34px;
    width: 240px;
    color:#757575;
    opacity: 0.7;
}
</style>

<center>
	<a href="https://www.biobots.io/" >
		<img src="static/biobots_logo_opaque.png" height="200" /> <!--local for opacity change-->
	</a>
	<h2 style="font-family: Helvetica;color:white;font-weight: 100;"> Build with Life </h2>
</center>


<center>
	<form method="POST" action="handle_data" >
		<input id="serial" type="text : " name='serial_num' value= "Serial #" onfocus="if (this.value=='Serial #') this.value='';"/>
        <button type="submit" class="btn btn-default" style="font-family: Helvetica;" >
        Take me to my Dashboard
        </button>
	</form>
</center>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</html>	


